body
{
	width: 1000px;
	height: 900px;
	margin: 0 auto;
	font-size: 24px;
}

.header{

}

.title{
	float: left;
	width: 500px;
}

.back{
	float: left;
	width: 500px;
	text-align: right;
}

.content_top,.content_bottom{
	width: 1000px;
}

.content_top_top{
float: left;
}

tbody{
	overflow-y: scroll;
}

.content_top_left{
	float: left;
}

.order_table tbody,.order_table thead{
	display: block;
}

.order_table_scroll{
	height: 210px;
	overflow-y: hidden;
}

.order_table_scroll >tr> td {
	height: 36px;
}

.order_table th:nth-child(1),.order_table td:nth-child(1){
	font-size: 24px;
	width: 50px;
}

.order_table th:nth-child(2),.order_table td:nth-child(2){
	font-size: 24px;
	width: 528px;
}

.order_table th:nth-child(3),.order_table td:nth-child(3){
	font-size: 24px;
	width: 100px;
}

.order_table th:nth-child(4),.order_table td:nth-child(4){
	font-size: 24px;
	width: 100px;
}

.order_table th:nth-child(5),.order_table td:nth-child(5){
	font-size: 24px;
	width: 150px;
}

.content_top_right{
	float: left;
	border: solid 1px;
}

.upscroll{
  position: relative;
  width:0;
  height:0;
  border: 16px solid transparent;
  border-bottom-color: #999;
	margin-bottom: 194px;
}

.downscroll{
  position: relative;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #999;
}


.content_top_bottom{
 margin-left: 188px;
}

.sum_table th:nth-child(1),.sum_table td:nth-child(1){
	font-size: 24px;
	width: 100px;
}

.sum_table th:nth-child(2),.sum_table td:nth-child(2){
	font-size: 24px;
	width: 400px;
}

.sum_table th:nth-child(3),.sum_table td:nth-child(3){
	font-size: 24px;
	width: 100px;
}

.sum_table th:nth-child(4),.sum_table td:nth-child(4){
	font-size: 24px;
	width: 150px;
}

.order_table select , .cart-delete-btn{
	font-size: 24px;
}


.view_table_scroll{
	display: block;
	width: 240px;
	height:300px;
	overflow-y: scroll;
}

.view_table_scroll  tr td{
	width: 100%;

}

.item{
	cursor: pointer;
}

.item-selected{
	background-color: red;
}

.item_add{
	position: relative;
	margin-bottom: 40px;
}

.item_add p{
	margin: 12px 0;
}

.item_add span{
	position: absolute;
	left: 6em;
}

.content_center{
	width: 100%;
}

.item_title{
	float: left;
	width: 150px;
	text-align: center;
	border: solid 1px;
}

.content_bottom{
width: 1000px;
}

.item_title{
	display: none;
}

.item_title_label{
	border: solid 1px;
	padding: 6px;
}

.content_bottom_left{
float: left;
background-color: rgb(105, 104, 150);
}

.indexlist{
	border: solid 1px;
	margin: 6px;
	padding: 4px;
	font-size: 27px;
}

.indexlist_item{
	display: none;
}

.checked{
	background-color: rgb(102,222,222);
}

.content_bottom_center{
	float: left;
	border: solid 1px;
}

.viewlist{
	overflow: scroll;
	width: 600px;
	height: 400px;
}

.viewlistrow{
	display: flex;
}

.viewitem{
	border: solid 1px;
	margin: 8px;
	padding: 4px;
	flex: 1;
	height: 6ex;
}

.viewitem_n{
	margin: 8px;
	padding: 4px;
	flex: 1;
	height: 6ex;
}

.content_bottom_right{
max-width: 500px;
float: left;
}

.select{
	background-color: rgb(20,222,100);
}

.numbox{
	max-width: 300px;
	padding: auto;
	border: solid 1px;
}

.numboxrow{
	display: flex;
}

.numbutton{
	flex: 1;
	border: solid 1px;
	text-align: center;
	margin: 10px;
	padding: 6px 18.5px;
	font-size: 26px;
}

#delete,#decision,#0{

}

.commit>form>button{
	margin: 6px;
	height: 60px;
	width: 80px;
	font-size: 24px;
}
